body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header {
    margin-left: 8em;
    width: 60%;
}
#header p{
    margin-left: 4em;
}
/*Font downloaded from free use creator at https://www.fontspace.com/flames-font-f25529*/
@font-face {
    font-family: flamesFont;
    src: url('flames.ttf');
}
h1 {
    font-family: flamesFont;
    letter-spacing: 0.1em;
    font-size: 6.4em;
    color: darkcyan;
}
h2 {
    font-family: flamesFont;
    letter-spacing: 0.2em;
    color: darkcyan;
    font-size: 2.4em;
    margin-top: -2em;
    margin-left: 1em;
}
h3{
    margin-left: -2em;
}
h4{
    font-style: oblique;
}
#imageCanvas {
    width: 2000px;
    height: 2000px;
    position: absolute;
    background-image: url('cover.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -12em;
    margin-left: -2em;
    opacity: 0.10;
    z-index: 1;
}
#lyricsBlock {
    position: relative;
    z-index: 2;
    width: 40%;
    margin-left: 8em;
    opacity: 4;
    float: left;
}
#coverPhoto {
}
iframe {
}



